<?xml version="1.0" encoding="utf-8"?>
<!---->
<!-- App Settings File -->
<!---->
<!-- Settings -->
<!-- contestantNameX: Name of contestants. Will appear on the "Add To Score" buttons, current scores, and winner buttons -->
<!-- gameBoardColor: Color of the game board -->
<!-- contestantColorX: Color of "contestantNameX" text -->
<!-- categoryColorX: Color of the 1 through 12 text on the main question and answer buttons with their respective categories -->
<!-- mediaTypeX_Y: The media type of the selected question with their respective category and number -->
<!---->
<!-- Media Types -->
<!-- ImageImage: An image question followed by an image answer -->
<!-- ImageVideoImageImage: An image prompt and a video question followed by an image question and an image answer -->
<!-- ImageVideoImageVideo: An image prompt and a video question followed by an image question and a video answer -->
<!-- VideoImageImage: A video question followed by an image question and an image answer -->
<!-- VideoImageVideo: A video question followed by an image question and a video answer -->
<!---->
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="contestantName0" value="Default" />
    <add key="contestantName1" value="Default" />
    <add key="contestantName2" value="Default" />
    <add key="gameBoardColor" value="240 240 240" />
    <add key="contestantColor0" value="0 0 0" />
    <add key="contestantColor1" value="0 0 0" />
    <add key="contestantColor2" value="0 0 0" />
    <add key="categoryColor0" value="0 0 0" />
    <add key="categoryColor1" value="0 0 0" />
    <add key="categoryColor2" value="0 0 0" />
    <add key="categoryColor3" value="0 0 0" />
    <add key="categoryColor4" value="0 0 0" />
    <add key="categoryColor5" value="0 0 0" />
    <add key="categoryColor6" value="0 0 0" />
    <add key="categoryColor7" value="0 0 0" />
    <add key="categoryColor8" value="0 0 0" />
    <add key="categoryColor9" value="0 0 0" />
    <add key="mediaType0_0" value="ImageImage" />
    <add key="mediaType0_1" value="ImageImage" />
    <add key="mediaType0_2" value="ImageImage" />
    <add key="mediaType0_3" value="ImageImage" />
    <add key="mediaType0_4" value="ImageImage" />
    <add key="mediaType0_5" value="ImageImage" />
    <add key="mediaType0_6" value="ImageImage" />
    <add key="mediaType0_7" value="ImageImage" />
    <add key="mediaType0_8" value="ImageImage" />
    <add key="mediaType0_9" value="ImageImage" />
    <add key="mediaType0_10" value="ImageImage" />
    <add key="mediaType0_11" value="ImageImage" />
    <add key="mediaType1_0" value="ImageImage" />
    <add key="mediaType1_1" value="ImageImage" />
    <add key="mediaType1_2" value="ImageImage" />
    <add key="mediaType1_3" value="ImageImage" />
    <add key="mediaType1_4" value="ImageImage" />
    <add key="mediaType1_5" value="ImageImage" />
    <add key="mediaType1_6" value="ImageImage" />
    <add key="mediaType1_7" value="ImageImage" />
    <add key="mediaType1_8" value="ImageImage" />
    <add key="mediaType1_9" value="ImageImage" />
    <add key="mediaType1_10" value="ImageImage" />
    <add key="mediaType1_11" value="ImageImage" />
    <add key="mediaType2_0" value="ImageImage" />
    <add key="mediaType2_1" value="ImageImage" />
    <add key="mediaType2_2" value="ImageImage" />
    <add key="mediaType2_3" value="ImageImage" />
    <add key="mediaType2_4" value="ImageImage" />
    <add key="mediaType2_5" value="ImageImage" />
    <add key="mediaType2_6" value="ImageImage" />
    <add key="mediaType2_7" value="ImageImage" />
    <add key="mediaType2_8" value="ImageImage" />
    <add key="mediaType2_9" value="ImageImage" />
    <add key="mediaType2_10" value="ImageImage" />
    <add key="mediaType2_11" value="ImageImage" />
    <add key="mediaType3_0" value="ImageImage" />
    <add key="mediaType3_1" value="ImageImage" />
    <add key="mediaType3_2" value="ImageImage" />
    <add key="mediaType3_3" value="ImageImage" />
    <add key="mediaType3_4" value="ImageImage" />
    <add key="mediaType3_5" value="ImageImage" />
    <add key="mediaType3_6" value="ImageImage" />
    <add key="mediaType3_7" value="ImageImage" />
    <add key="mediaType3_8" value="ImageImage" />
    <add key="mediaType3_9" value="ImageImage" />
    <add key="mediaType3_10" value="ImageImage" />
    <add key="mediaType3_11" value="ImageImage" />
    <add key="mediaType4_0" value="ImageImage" />
    <add key="mediaType4_1" value="ImageImage" />
    <add key="mediaType4_2" value="ImageImage" />
    <add key="mediaType4_3" value="ImageImage" />
    <add key="mediaType4_4" value="ImageImage" />
    <add key="mediaType4_5" value="ImageImage" />
    <add key="mediaType4_6" value="ImageImage" />
    <add key="mediaType4_7" value="ImageImage" />
    <add key="mediaType4_8" value="ImageImage" />
    <add key="mediaType4_9" value="ImageImage" />
    <add key="mediaType4_10" value="ImageImage" />
    <add key="mediaType4_11" value="ImageImage" />
    <add key="mediaType5_0" value="ImageImage" />
    <add key="mediaType5_1" value="ImageImage" />
    <add key="mediaType5_2" value="ImageImage" />
    <add key="mediaType5_3" value="ImageImage" />
    <add key="mediaType5_4" value="ImageImage" />
    <add key="mediaType5_5" value="ImageImage" />
    <add key="mediaType5_6" value="ImageImage" />
    <add key="mediaType5_7" value="ImageImage" />
    <add key="mediaType5_8" value="ImageImage" />
    <add key="mediaType5_9" value="ImageImage" />
    <add key="mediaType5_10" value="ImageImage" />
    <add key="mediaType5_11" value="ImageImage" />
    <add key="mediaType6_0" value="ImageImage" />
    <add key="mediaType6_1" value="ImageImage" />
    <add key="mediaType6_2" value="ImageImage" />
    <add key="mediaType6_3" value="ImageImage" />
    <add key="mediaType6_4" value="ImageImage" />
    <add key="mediaType6_5" value="ImageImage" />
    <add key="mediaType6_6" value="ImageImage" />
    <add key="mediaType6_7" value="ImageImage" />
    <add key="mediaType6_8" value="ImageImage" />
    <add key="mediaType6_9" value="ImageImage" />
    <add key="mediaType6_10" value="ImageImage" />
    <add key="mediaType6_11" value="ImageImage" />
    <add key="mediaType7_0" value="ImageImage" />
    <add key="mediaType7_1" value="ImageImage" />
    <add key="mediaType7_2" value="ImageImage" />
    <add key="mediaType7_3" value="ImageImage" />
    <add key="mediaType7_4" value="ImageImage" />
    <add key="mediaType7_5" value="ImageImage" />
    <add key="mediaType7_6" value="ImageImage" />
    <add key="mediaType7_7" value="ImageImage" />
    <add key="mediaType7_8" value="ImageImage" />
    <add key="mediaType7_9" value="ImageImage" />
    <add key="mediaType7_10" value="ImageImage" />
    <add key="mediaType7_11" value="ImageImage" />
    <add key="mediaType8_0" value="ImageImage" />
    <add key="mediaType8_1" value="ImageImage" />
    <add key="mediaType8_2" value="ImageImage" />
    <add key="mediaType8_3" value="ImageImage" />
    <add key="mediaType8_4" value="ImageImage" />
    <add key="mediaType8_5" value="ImageImage" />
    <add key="mediaType8_6" value="ImageImage" />
    <add key="mediaType8_7" value="ImageImage" />
    <add key="mediaType8_8" value="ImageImage" />
    <add key="mediaType8_9" value="ImageImage" />
    <add key="mediaType8_10" value="ImageImage" />
    <add key="mediaType8_11" value="ImageImage" />
    <add key="mediaType9_0" value="ImageImage" />
    <add key="mediaType9_1" value="ImageImage" />
    <add key="mediaType9_2" value="ImageImage" />
    <add key="mediaType9_3" value="ImageImage" />
    <add key="mediaType9_4" value="ImageImage" />
    <add key="mediaType9_5" value="ImageImage" />
    <add key="mediaType9_6" value="ImageImage" />
    <add key="mediaType9_7" value="ImageImage" />
    <add key="mediaType9_8" value="ImageImage" />
    <add key="mediaType9_9" value="ImageImage" />
    <add key="mediaType9_10" value="ImageImage" />
    <add key="mediaType9_11" value="ImageImage" />
    <add key="gameplayLog" value="Gameplay Log" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>